include block_html/_style.pug
include block_html/_include.pug

+header()

.section-sm
	.main-cont
		.bread
			a(href="#").bread__el Главная
			a(href="#").bread__el Члены клуба
	.main-cont
		.member
			.member-img
				img(src="img/team-4.jpg", alt="")
			.member-content
				.member-title Сергей Плотников
				.member-row
					.member-row__title Компания:
					.member-row__val Мобильные ТелеСистемы (МТС)
				.member-row
					.member-row__title Должность:
					.member-row__val Директор департамента по работе с бизнес-рынком
				.member-text
					p Есть над чем задуматься: многие известные личности заблокированы в рамках своих собственных рациональных ограничений. Сложно сказать, почему непосредственные участники технического прогресса формируют глобальную экономическую сеть и при этом - рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Значимость этих проблем настолько очевидна, что внедрение современных методик играет важную роль в формировании экспериментов, поражающих по своей масштабности и грандиозности. Прежде всего, перспективное планирование обеспечивает актуальность поэтапного и последовательного развития общества.

					p Мы вынуждены отталкиваться от того, что дальнейшее развитие различных форм деятельности однозначно определяет каждого участника как способного принимать собственные решения касаемо модели развития. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть объединены
		
.section.section--gray
	.main-cont
		.section-title Все члены клуба
		.section-title-sub Компании Polymedia и Visiology приглашают Вас на Конференцию BI 4.0
		.partners
			- for (var i=1;i<9;i++)
				a(href="member-item.html").partners__el
					.partners__el-img(style="background-image:url('img/team-"+i +".jpg')")
					.partners__el-name Александр Аполлонов
					.partners__el-staf CEO&CIO

+footer()

include ./block_html/_script.pug
