mixin footer()
	//events
	.section
		.main-cont
			.section-title Ближайшие мероприятия
			.section-title-sub Компании Polymedia и Visiology приглашают Вас на Конференцию BI 4.0
			.slider-wrap
				.slider-control.slider-control--left
					+icon("arrow-left","icon")
				.slider-control.slider-control--right
					+icon("arrow-right","icon")
				.perfomace.slider-item
					- for (var i=0;i<4;i++)
					.perfomace__el
						.perfomace__el-cont
							.perfomace__el-img-wrap
								.perfomace__el-img(style="background-image:url('img/img-10.jpg')")
							.perfomace__el-content
								.perfomace__el-title Главное событие цифровой экономики
								.perfomace__el-text Это актуальная межотраслевая площадка для глобального диалога представителей промышленности, профессионалов отрасли информационных технологий, телекома, оборонного комплекса, венчурных инвесторов и государства по вопросам
								a(href="#").perfomace__el-get Подробнее

	//slogan
	.slogan(style="background-image:url('img/img-12.jpg')")
		.filter
		.slogan-content-wrap
			.main-cont
				.slogan-content
					.slogan-title Мы профессионалы своего окружения
					.slogan-text Лидеры рынка всегда ясно видят не только собственные цели, но и тенденции рынка представителей промышленности, профессионалов отрасли информационных технологий, телекома, оборонного комплекса
					div(data-modal="order").modal-get.slogan-get Вступить

	//footer
	.footer
		.main-cont
			.footer-wrap
				.footer-logo
					img(src="img/logo-3.svg", alt="")
				.footer-menu
					- var items = ['Новости','Мероприятия','Лица ИТ','Общение','Проекты','О клубе'];
						each item in items
							a(href="#").footer-menu__el #{item}
	.footer-bottom © 2002–2018 все права защищены
	//block footer
	.modal-layer
		.modal-filter
		.modal-wrap
			.modal(data-modal="order")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Оставьте заявку
					.modal-text Мы с радостью ответим на все Ваши вопросы. Вступайте в наш клуб !
					form.validate-form( action="javascript:void(null);")
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
						.input-row
							input(type="text" name="phone" placeholder="Ваш телефон").input
						.input-row
							textarea(name="info", cols="30", rows="5" placeholder="Сообщение").input
						input(type="submit" value="Отправить заявку").modal-send
			//success message
			.modal(data-modal="truemessage")
				.modal-content.modal-content--true
					+icon("interface","icon")
					.modal-text-true Ваша заявка принята

	//block footer end