-
	pages = [
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Список участников',
			'href':'member-list'
		},
		{
			'name':'Участинки подробная',
			'href':'member-item'
		},
		{
			'name':'Список новостей',
			'href':'news-list'
		},
		{
			'name':'Новости подробная',
			'href':'news-item'
		}
	]

